* {
  margin: 0;
  padding: 0;
}
.content {
  max-width: 1200px;
  margin: auto;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;

  align-items: center;
}

.common-btn {
  background-color: #1d4ed8;
  color: white;
  border-radius: 10px;
  padding: 12px 30px;

  border: none;
}

.other-btn {
  background-color: white;
  color: #0D1B2A;
  border-radius: 10px;
  padding: 12px 30px;

  border: 1px solid #0D1B2A;
}

/* navbar sections */

.menu-position {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
}

.box {
  color: #575757;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

/* Hero-section */
.Hero {
  background-image: url(./assets/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 800px;
}

.heading {
  color: white;
  font-size: 80px;
  font-weight: bold;
  padding-top: 80px;
  margin-bottom: 50px;
}

.Hero .content {
  text-align: center;
}

.Hero p {
  color: white;
  font-size: 22px;
  max-width: 700px;
  margin: 0 auto 30px;
  padding-bottom: 300px;
}

.Hero .common-btn {
  text-align: center;
  gap: 50px;
  font-size: 22px;
}

/* speaker-section */

.speaker .content {
  text-align: center;
}

.speaker-heading h2 {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin: 50px auto 40px;
}

.speaker .images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.image-box {
  border-radius: 15px;
  max-width: 100%;
  text-align: left;
  border: 1px solid #e5e7eb;
}

.image-box img {
  width: 100%;
  display: block;
}

.image-box .paragraph1 {
  color: #2563eb;
  font-size: 15px;

  margin: 10px 10px;
  font-weight: 700;
}
.image-box h4 {
  color: #0d1b2a;
  font-size: 20px;

  margin: 10px 10px;
  font-weight: bold;
}

.image-box .paragraph2 {
  color: #575757;
  font-size: 14px;
margin: 10px 10px;
}

/* Speaker-section ends */
/* pricing content starts */
.pricing{
    text-align: center;
}

.pricing-method h4{
    color: #0D1B2A;
    font-weight: 900;
   
    margin: 50px auto 20px;
    font-size: 50px;
}

.pricing-method p{
    color: #575757;
    margin-bottom: 20px;
    font-size: 20px;
}
.card{
    display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.card-box{
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    /* padding: 25px; */
    width:30%;
     padding: 20px;
    text-align: left;
     display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    
}

.card-box ul{
    padding-left: 20px;
    text-align: left;
    /* line-height: 1.5; */
}

.card-box h4{
    font-size: 40px;
    
}
 .card-one{
    color: #333333;
}
.card-two{
    color:white;
    background-color: #0D1B2A;
}